body {
  font-family: system-ui, sans-serif;
  margin: 0;
  line-height: 1.5;
}

header,
main {
  padding-inline: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  background: #198488;
}

header nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

nav a:hover {
  color: rgb(255, 255, 255);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  background-color: #fafafa;
}

thead {
  background-color: #eaeaea;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

pre {
  background-color: #111;
  color: #f8f8f2;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

code {
  font-family: monospace;
}

ul {
  margin-bottom: 1.5rem;
}