body {
    font-family: system-ui, sans-serif;
    margin: 0;
    line-height: 1.5;
}

header,
main {
    padding-inline: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    background: #198488;
}

header nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    padding: 0.3rem 0.6rem;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

nav a:hover {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

#profile {
    background-color: rgb(161, 161, 161);
    width: 25%;
    height: 25%;
    border-radius: 5px;
}