.custom-navbar {
    background-color: #e9e9e9;
    border-bottom: 1px solid #aaa;
    max-height: 56px;
}
.container-fluid {
    max-height: 45px !important;
}
.nav-link {
    color: black !important;
}
.nav-link:hover {
    background-color: #dcdcdc;
}
.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 1px solid #aaa;
}
#profile-dropdown {
    position: fixed;
    right: 5px;
    top: 5px;
}
.dropdown-menu {
    border-radius: 0;
}
.navbar-nav {
    max-width: 100px !important;
}