body {
margin: 0;
header {
  background: #6e05e6;
  color: #eee;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  h1{
    margin: 0;
     font-family: 'Times New Roman', Times, serif;

  }
  nav {
    a {
      color: inherit;
    }
  }
}
main,
footer {
  padding-inline: 1rem;
}
img{
    max-width: 100%;
}

p { 
 font-family: 'Times New Roman', Times, serif;
}

.resturant {
  display: flex;         /* This puts the image and details side-by-side */
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px;            /* Adds space between the image and the text */
  margin: 20px;
}
  

}
h2 {
  background: cyan;
  padding: 1rem;
}