body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: #333;
    font-size: 18px;
}

.destinations {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}


.card h3 {
    margin: 15px 0 10px;
}

.card p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #555;
}