#navbar {
    position:fixed;
    height: 40px;
    background-color: orange;
    padding: 0px;
    padding-left: 5px;
}

#navbar img {
    float: right;
}

#the_team {
    padding-top: 40px;
}

#the_team * {
    display: inline;
    margin-right: 30px;
}