body {
    * {
        padding-left: 3px !important;
        padding-right: 3px !important;
        font-family: cursive;
    }
    #navbar {
        position:fixed;
        height: 40px;
        background-color: orange;
        padding: 0px;
        padding-left: 5px;
        justify-content: left !important;
        margin-top: -40px;
        div {
            width: calc(100% - 10rem);
        }
        img {
            float: right;
        }
    }
    h5 *{
        display: inline;
    }
}