body {
    background-color: rgb(180, 207, 168);
   margin: 10%;
}
.header{
    display: flex;
    justify-content: center;
}
.nav{
    font-size: large;
    background-color: rgb(190, 223, 188)
}
h2{
    font-display: center;
}
.pic{
    max-height: 300px;
}
.database{
    max-height: 300px;
}
.figma{
    max-height: 300px;
}
.info{
    background-color: rgb(190, 223, 188);
    padding: 5%;
}
.description{
    padding-left: 5%;
    padding-right: 10%;
    font-weight: bold;
}